.header_section {
    margin-right: calc(100vw - (100vw - 0.1rem));
}


nav{
    // position: absolute;
    width: calc(100vw - (20rem + 2rem));
    height: 7vh;
    align-items: center;
    padding: 0px 30px 0px 80px;
    margin-bottom: 15px;
    // background: rgb(213, 213, 213);
    left: auto;
    right: auto;
}

nav ul{
    padding: 0;
    margin: 0;
}

nav ul li{
    margin: 0 15px;
    cursor: pointer;
}

nav ul li a{
    color: rgb(20, 20, 20);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px;
}

nav ul li a:hover{
    background: rgb(213, 213, 213);  
    border-radius: 5px;
}