<div class="container d-flex flex-column justify-content-between" [ngClass]="{'hidden': !showMenu}">
    <div class="details_content">
        <div class="add_step mt-2">
            <div class="task_hover d-flex justify-content-between py-3 pe-2">
                <div class="d-flex justify-content-center align-items-center">
                    <i class="fa fa-circle-thin ms-2"></i>
                    <h5 class="ms-2">Task title</h5>
                </div>
                <i class="fa fa-star-o mt-2"></i>
            </div>
            <div class="d-flex justify-content-between py-2 pe-2">
                <i class="fa fa-circle-thin mt-2 px-3"></i>
                <input type="text" placeholder="Ajouter une étape" [(ngModel)]="inputText" (input)="toggleAddBtn()">
                <button class="add_btn pe-3" *ngIf="toggleBtn">Ajouter</button>
            </div>
        </div>
    
        <div class="d-flex my-2 bg-white task_hover">
            <i class="fa fa-sun-o mt-3 ms-2 me-4"></i>
            <p class="mt-2">Ajouter à Ma journée</p>
        </div>
    
        <div class="bg-white">
            <ul>
                <li *ngFor="let item of rappelItems" (click)="item.id == idRappel ? openPopupRappel() : item.id == idEcheance ? openPopupEcheance() : openPopupRepeter()" class="task_hover" [title]="item.name"><i [class]="item.icone +' pe-4'"></i> {{item.name}}</li>
            </ul>
            <app-main-popup [closeBtn]="true" [id]="idRappel">
                    <div class="text-center">
                        <h5>Rappel</h5>
                    </div>
                    <div>
                        <ul>
                            <li>Plus tard dans la journée   <span>17:00</span></li>
                            <li>Demain   <span>ven., 17:00</span></li>
                            <li>Semaine prochaine   <span>lun., 17:00</span></li>
                        </ul>
                        <ul>
                            <li>Choisir une date et une heure</li>
                        </ul>
                    </div>
            </app-main-popup>
            <!-- <app-main-popup [closeBtn]="true" [id]="id">
                <div *ngFor="let item of rappelItems">
                    <div *ngIf="item.id === '01';then RappelTemplate"></div>
                    <div *ngIf="item.id === '02';then EcheanceTemplate"></div>
                    <div *ngIf="item.id === '03';then RepeteTemplate"></div>
                </div>
                <ng-template #RappelTemplate>
                    <div class="text-center">
                        <h5>Rappel</h5>
                    </div>
                    <div>
                        <ul>
                            <li>Plus tard dans la journée   <span>17:00</span></li>
                            <li>Demain   <span>ven., 17:00</span></li>
                            <li>Semaine prochaine   <span>lun., 17:00</span></li>
                        </ul>
                        <ul>
                            <li>Choisir une date et une heure</li>
                        </ul>
                    </div>
                </ng-template>
                <ng-template #EcheanceTemplate>EcheanceTemplate</ng-template>
                <ng-template #RepeteTemplate>RepeteTemplate</ng-template>
            </app-main-popup> -->
            <!-- <div class="card" *ngIf="showModal === true; then RappelTemplate"></div> -->
            <!-- <div class="card d-flex" *ngIf="showModal"> -->
                <!-- <div class="rappel_title"></div> -->
                <!-- ttnw class mean : today,tommorow, next week -->
                <!-- <div class="ttnw">
                    <ul>
                        <li>Plus tard dans la journée   <span>17:00</span></li>
                        <li>Demain   <span>ven., 17:00</span></li>
                        <li>Semaine prochaine   <span>lun., 17:00</span></li>
                    </ul>
                </div>
                <div></div>
            </div>
            <ng-template #EcheanceTemplate></ng-template>
            <ng-template #RepeteTemplate></ng-template> -->
        <!-- </div> -->
        <div class="d-flex my-2 bg-white task_hover">
            <i class="fa fa-tag mt-3 ms-2 me-4"></i>
            <p class="mt-2">Choisir une catégorie</p>
        </div>
    
        <div class="d-flex my-2 bg-white task_hover">
            <i class="fa fa-paperclip mt-3 ms-2 me-4"></i>
            <p class="mt-2">Ajouter un fichier</p>
        </div>
    
        <div class="add_note">
            <div class="d-flex py-2 pe-2">
                <i class="fa fa-circle-thin mt-2 px-3"></i>
                <input type="text" placeholder="Ajouter une note">
            </div>
            
            <div class="maj">
                <p>
                    Mise à jour : il y a quelques secondes
                </p>
            </div>
        </div>
    </div>

    <div class="details_bottom d-flex justify-content-between p-2 px-3">
        <button class="toggle_menu_btn" (click)="toggleMenu()"><i class="fa fa-arrow-right py-2" aria-hidden="true"></i></button>
        <p class="maj py-2">Créée hier</p>
        <i class="fa fa-trash py-2" aria-hidden="true"></i>
    </div>

  </div>
  
  <button class="mt-5" (click)="toggleMenu()">return</button>