.tasks_details_container {
  position: relative;
  // top: 5;
  // top: 0;
  // right: 0;
  // bottom: 0;
  flex: 1;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //   d-flex flex-column justify-content-between
  //   background-color: rgb(247, 247, 247);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-out;
}

.hidden {
  display: none;
}

.visuallyhidden {
  transform: translateX(100%);
}

// @keyframes move{

//     from {
//         // transform:translateX(0%);
//   right: 0%;

//         // display: block;
//     }
//     to{
//         // transform:translateX(200px);
//         // opacity: 0;
//   right: -100%;

//       }
//     }
.toggle_menu_btn {
  padding: 0;
  margin: 0;
  border: none;
  background-color: rgb(247, 247, 247);
}
input {
  width: 100%;
  border: none;
}

input:focus {
  outline: none;
}

.add_step {
  background: #fff;
}

.task_hover:hover {
  background-color: rgb(247, 247, 247) !important;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  border-bottom: 1px solid rgb(203, 203, 203);
  padding: 12px;
}

.add_note {
  background: #fff;
  height: 12vh;
}
//Mise à jour div
.maj {
  font-size: smaller;
  color: rgb(190, 190, 190);
  padding-left: 18px;
}

.details_bottom {
  border-top: 1px solid rgb(203, 203, 203);
}

.add_btn {
  border: none;
  border-radius: 3px;
  font-size: smaller;
}

.card {
  background-color: red;
  padding: 10px;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
}
