<div class="tasks_details_container"
 id="tasks_details_container">

   <div class="details_content d-flex flex-column align-items-center">
        <div class="add_step mt-2">
            <div class="task_hover d-flex justify-content-between py-3 pe-2">
                <div class="d-flex justify-content-center align-items-center">
                    <i class="fa fa-circle-thin ms-2"></i>
                    <h5 class="ms-2">Task title</h5>
                </div>
                <i class="fa fa-star-o mt-2"></i>
            </div>
            <div class="d-flex justify-content-between py-2 pe-2">
                <i class="fa fa-circle-thin mt-2 px-3"></i>
                <input type="text" placeholder="Ajouter une étape" [(ngModel)]="inputText" (input)="toggleAddBtn()">
                <button class="add_btn pe-3" *ngIf="toggleBtn">Ajouter</button>
            </div>
        </div>
    
        <div class="d-flex my-2 bg-white task_hover">
            <i class="fa fa-sun-o mt-3 ms-2 me-4"></i>
            <p class="mt-2">Ajouter à Ma journée</p>
        </div>
    
        <div class="bg-white">
            <ul>
                <li *ngFor="let item of rappelItems" (click)="item.id == idRappel ? openPopupRappel() : item.id == idEcheance ? openPopupEcheance() : openPopupRepeter()" class="task_hover" [title]="item.name"><i [class]="item.icone +' pe-4'"></i> {{item.name}}</li>
            </ul>
            <app-main-popup [closeBtn]="true" [id]="idRappel" [customHeight]="rappelHeight">
                    <div class="text-center">
                        <h5>Rappel</h5>
                    </div>
                    <div>
                        <ul>
                            <li class="d-flex justify-content-between task_hover"><i class="fa fa-clock-o mt-1"></i><span>Plus tard dans la journée</span><span>17:00</span></li>
                            <li class="d-flex justify-content-between task_hover"> <span><i class="fa fa-clock-o mt-1 me-3"></i> <span>Demain</span></span>  <span>ven., 17:00</span> </li>
                            <li class="d-flex justify-content-between task_hover"><i class="fa fa-clock-o mt-1"></i><span>Semaine prochaine</span> <span>lun., 17:00</span></li>
                        </ul>
                        <ul>
                            <li><i class="fa fa-clock-o mt-2 me-3 task_hover"></i>Choisir une date et une heure</li>
                        </ul>
                    </div>
            </app-main-popup>
            <app-main-popup [closeBtn]="true" [id]="idEcheance" [customHeight]="echeanceHeight">
                <div class="text-center">
                    <h5>Échéance</h5>
                </div>
                <div>
                    <ul>
                        <li class="d-flex justify-content-between task_hover"><span><i class="fa fa-calendar-o mt-1 me-3"></i>Aujourd'hui </span><span>ven.</span></li>
                        <li class="d-flex justify-content-between task_hover"><span><i class="fa fa-calendar-o mt-1 me-3"></i>Demain</span><span>sam.</span></li>
                        <li class="d-flex justify-content-between task_hover"><span><i class="fa fa-calendar-o mt-1 me-3"></i>Semaine prochaine</span><span>lun.</span></li>
                    </ul>
                    <ul>
                        <li><i class="fa fa-calendar-o mt-2 me-3 task_hover"></i>Choisir une date</li>
                    </ul>
                </div>
            </app-main-popup>
            <app-main-popup [closeBtn]="true" [id]="idRepeter">
                <div class="text-center">
                    <h5>Répéter</h5>
                </div>
                <div>
                    <ul>
                        <li class="d-flex task_hover"><i class="fa fa-calendar-minus-o mt-1 me-3"></i>Tous les jours</li>
                        <li class="d-flex task_hover"><i class="fa fa-calendar-minus-o mt-1 me-3"></i>Jours de semaine</li>
                        <li class="d-flex task_hover"><i class="fa fa-calendar-minus-o mt-1 me-3"></i>Toutes les semaines</li>
                        <li class="d-flex task_hover"><i class="fa fa-calendar-minus-o mt-1 me-3"></i>Toutes les mois</li>
                        <li class="d-flex task_hover"><i class="fa fa-calendar-minus-o mt-1 me-3"></i>Toutes les ans</li>
                    </ul>
                    <ul>
                        <li class="d-flex task_hover"><i class="fa fa-calendar-minus-o mt-1 me-3"></i>Personnaliser</li>
                    </ul>
                </div>
            </app-main-popup>
        </div>

        <div class="d-flex my-2 bg-white task_hover">
            <i class="fa fa-tag mt-3 ms-2 me-4"></i>
            <p class="mt-2" (click)="openPopup()">Choisir une catégorie</p>

            <app-main-popup [closeBtn]="true" [customHeight]="'90%'">
                <ul>
                    <li class="task_hover" *ngFor="let category of categories" [ngStyle]="{'color': category.color}">
                        <i class="fa fa-dot-circle-o me-3"></i>
                        {{category.name}}
                    </li>
                </ul>
            </app-main-popup>
        </div>
    
        <div class="d-flex my-2 bg-white task_hover">
            <i class="fa fa-paperclip mt-3 ms-2 me-4"><input type="file" id="choose-file" style="display: none;"></i>
            <label for="choose-file" class="mt-2">Ajouter un fichier</label>
        </div>
    
        <div class="add_note">
            <div class="d-flex py-2 pe-2">
                <i class="fa fa-circle-thin mt-2 px-3"></i>
                <input type="text" placeholder="Ajouter une note">
            </div>
            
            <div class="maj">
                <p>
                    Mise à jour : il y a quelques secondes
                </p>
            </div>
        </div>


    <div class="details_bottom d-flex justify-content-between p-2 px-3">
        <button class="toggle_menu_btn" (click)="toggleMenu()"><i class="fa fa-arrow-right py-2" aria-hidden="true"></i></button>
        <p class="maj py-2">Créée hier</p>
        <i class="fa fa-trash py-2" aria-hidden="true"></i>
    </div>

   </div>
  
   <button class=" mt-5" (click)="toggleMenu()">return</button>
</div> 